<ion-header>
  <ion-title padding center text-center color='dark'>Blog</ion-title>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button (click)="presentAlert()">?</ion-button>
	<ion-button float-right (click)="blogPost()">New Post</ion-button>
	<ion-card *ngFor='let post of feed'>
		<ion-card-content>{{fullname}}</ion-card-content>
		<ion-card-content>{{post}}</ion-card-content>
	</ion-card>
</ion-content>
