<ion-header>
  <ion-title padding center text-center color='dark'>Blog</ion-title>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button (click)="presentAlert()">?</ion-button>
	<ion-button float-right (click)="blogPost()">New Post</ion-button>
  <ion-header text-center>My Feed</ion-header>
  <ion-card *ngFor='let feed of myfeed'>
    <ion-card-content>{{fullname}}</ion-card-content>
		<ion-card-content>{{feed.post}}</ion-card-content>
	</ion-card>
</ion-content>
