<ion-header>
  <ion-title padding center text-center color='dark'>Blog</ion-title>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button (click)="presentAlert()">?</ion-button>
	<ion-list>
		<ion-title> My Notes</ion-title>
		<ion-card>
			<ion-title >Recent Notes<br> example note</ion-title>
		</ion-card>
		
		<ion-title>Friend's Notes</ion-title>
		<ion-card>
			<ion-title >Top Friend's Notes <br> example note</ion-title>
		</ion-card>
	</ion-list>
</ion-content>
