ion-content {
    --background: url('../../../assets/meditation/forest.jpg') no-repeat center center fixed;
}

.bottom {
    position: relative;
    top: 70%;
    left: 40%;
    width: 110px;
    height: 20%;
    font-size: 20px;
}