<ion-header>
  <ion-toolbar color="medium">
    <ion-title padding center text-center class="custTitle">Meditation</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <body class="pic" [ngStyle]="{'background-image': 'url(' + chosenPic + ')'}">
        <ion-button (click)="presentAlert()">?</ion-button>
        <ion-fab horizontal="center" vertical="center">
          <ion-fab-button (click)="play()">Breathe</ion-fab-button>
        </ion-fab>
    </body>
  </ion-content>