<ion-header>
  <ion-toolbar color="medium">
    <ion-title padding center text-center class="custTitle">Strive</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <h1>Welcome to Strive, {{userFullName}}!</h1>

  <ion-button expand="full" (click)="joinChat()" >Join Chat-Room as {{ userFullName }}</ion-button>
  <ion-grid style="height: 50%%" width="100%">
    <ion-card>
    <h2 class="cardCenterWhite">Current Goals:</h2>
    <ion-row class="cardCenterWhite">
      <div *ngFor="let card of cards">
      <ion-card *ngIf='card.goal === "true"' >
          <div class="square" text-center>
            <div class="goal" class="padTop">{{card.name}}</div>
          </div>
      </ion-card>
    </div>
    </ion-row>
    </ion-card>
    <ion-row class="center">
      <ion-button (click)="navigateGoals()">Make new Goals!</ion-button>
      <ion-button (click)="navigateAchievements()">View Your Achievements</ion-button>
      <ion-button (click)="navigateProfile()">Update Profile</ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid style="height: 100%" width="100%">
      <ion-row class="cardCenter">
        <ion-item class = "myCard">
          <ion-img [src]=imgURL></ion-img> 
          <div class="myOverlay">
            {{toBeQuote}}
          </div>
        </ion-item>
      </ion-row>
    </ion-grid>
</ion-content>
