.center {
    text-align: center;
  }

.custTitle{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.square {
  width:150px;
  height:150px;
  background-size:  100% 100%;
  background-color: cornsilk !important;
  padding: 0px;
}

.cardCenter{
  justify-content: center;
}

.myCard{
  position:relative;

}

.myOverlay{
    width: 100%;
    height: 75%;
    font-size: 6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    bottom: 0px;
    color: white;

}