<ion-header>
  <ion-title padding center text-center color='dark'>Strive</ion-title>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card class="square">
        <div  class="centerCard">
          <ion-card-title>Welcome to Strive, {{userFullName}}!</ion-card-title>
          <ion-card-subtitle>Your new center of health!</ion-card-subtitle>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <h3 class = center>Current Goals:</h3>
    <ion-row justify-content-center>
      <div *ngFor="let card of cards">
        <div *ngIf='card.goal === "true"' >
          <ion-card>{{card.name}}</ion-card>
        </div>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
