<ion-header>
  <ion-toolbar color="medium">
    <ion-title padding center text-center class="custTitle">Strive</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <h1>Welcome to Strive, {{userFullName}}!</h1>
  <button ion-button full (click)="joinChat()" >Join Chat-Room as {{ userFullName }}</button>

  <ion-grid style="height: 100%" width="100%">
    <h3 class=center>Current Goals:</h3>
    <ion-row class="cardCenter">
      <div *ngFor="let card of cards">
      <ion-card *ngIf='card.goal === "true"' >
          <div class="square" text-center>
            <div class="goal">{{card.name}}</div>
          </div>
      </ion-card>
    </div>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <h3 class=center>Current Goals:</h3>
    <ion-row justify-content-center align-items-center>
      <ion-item *ngFor="let card of cards" lines="none">
        <div *ngIf='card.goal === "true"' >
          <ion-card>{{card.name}}</ion-card>
        </div>
      </ion-item>
    </ion-row>
  </ion-grid> -->
</ion-content>
