<ion-header>
    <ion-toolbar color="medium">
      <ion-title padding center text-center class="custTitle">Subscribe</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding class="center">
  <h1>I'm sorry but to access this page you must be subscribed.</h1><br>
  <ion-card>
    <h3>If you would like to subscribe you can go to profile or press here!</h3>
    <ion-button (click)="subscribe()">Subscribe</ion-button>
  </ion-card>
</ion-content>
