.padding{
    padding-left: 25px;
    padding-right: 25px;
}

.custTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.center{
    justify-content: center;
    text-align: center;
}