<ion-header>
  <ion-toolbar color="medium">
    <ion-title padding center text-center class="custTitle">Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-item class='padding'>
      <ion-label>Username: {{username}}</ion-label> 
  </ion-item>
  <ion-item class='padding'>
      <ion-label>Email: {{email}}</ion-label> 
  </ion-item>
  <ion-item>
    <ion-input placeholder="New Password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="full" class='padding' (click)="changePassword()">Change Password</ion-button>
  <ion-button expand="full" class='padding' (click)="changeColor()" (click)="subscribeStatusChange()" color={{subColor}}>{{subscribeStatus}}</ion-button><br>
  <ion-button expand="full" class='padding' (click)="logout()">Logout</ion-button>
  <br><br>

  <ion-title text-center>Change Theme</ion-title>
  <ion-button (click)="changeTheme('default')">Default</ion-button>
  <ion-button (click)="changeTheme('night')">Dark</ion-button>
  <ion-button (click)="changeTheme('warm')">Warm</ion-button>
  <ion-button (click)="changeTheme('neon')">Neon</ion-button>
  <br><br>
  <ion-button color='primary'>Primary</ion-button>
  <ion-button color='secondary'>Secondary</ion-button>
  <ion-button color='tertiary'>Tertiary</ion-button>
  <ion-button color='light'>Light</ion-button>
  <ion-button color='medium'>Meduim</ion-button>
  <ion-button color='dark'>Dark</ion-button>
</ion-content>
