ion-content{
  --background: url('../../../assets/bulliten.jpg');
  --background-repeat: no-repeat;
  --backgroud-size: cover;
}

.square {
    width:300px;
    height:300px;
    background-size:  100% 100%;
    background-color: cornsilk !important;
  }

.center {
    padding-top: 25%;
    text-align: center;
  }

.custom {
  color: black;
}

ion-row{
  align-items: center;
  justify-content: center;
}