<ion-content padding>
    <ion-title>Calendar</ion-title>
	<ion-button expand="block" color="light" (click)="goDate()">1</ion-button>
	<ion-item>
		<label>Time: {{time}}</label>
	</ion-item>
	<ion-item>
		<label>Name: {{name}}</label>
	</ion-item>
	<ion-item>
		<label>Description: {{desc}}</label>
	</ion-item>
	<ion-item>
		<label>Location: {{location}}</label>
	</ion-item>
	<ion-button expand="block" color="light" (click)="goDate()">2</ion-button>
	<ion-item>
		<label>Time: {{time}}</label>
	</ion-item>
	<ion-item>
		<label>Name: {{name}}</label>
	</ion-item>
	<ion-item>
		<label>Description: {{desc}}</label>
	</ion-item>
	<ion-item>
		<label>Location: {{location}}</label>
	</ion-item>
	<ion-button expand="block" color="light" (click)="goDate()">3</ion-button>
	<ion-item>
		<label>Time: {{time}}</label>
	</ion-item>
	<ion-item>
		<label>Name: {{name}}</label>
	</ion-item>
	<ion-item>
		<label>Description: {{desc}}</label>
	</ion-item>
	<ion-item>
		<label>Location: {{location}}</label>
	</ion-item>
</ion-content>
