<ion-header>
  <ion-title padding center text-center color='dark'>Achievements</ion-title>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentAlert()">?</ion-button><br>
  <h3 text-center>Your Personal Achievements:</h3>
  <ion-grid>
    <ion-row>
      <ion-card *ngFor="let card of cards">
        <div *ngIf='card.achieved === "true"' >
          <div class="square" text-center>
              <ion-button  float-right (click)="deleteAch(card)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            <div class="center">
              <ion-card-title> {{card.name}} </ion-card-title>
              <ion-fab horizontal="center" vertical="center">
                  <ion-fab-button disabled="true">
                    <ion-icon name="trophy"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>