<ion-split-pane>
  <ion-menu contnetId="">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [href]="p.url" [class.active-item]="selectedPath === p.url" routerDirection="root">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <button ion-button menuToggle (click)="logout()">
        Logout
      </button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet name="menucontent" id="content" main></ion-router-outlet>

</ion-split-pane>